h2 {
    font-size: 3em;
    margin-left: 3rem;
}

.cart_interface {
    margin-left: 3rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
}

.cart_interface .total{
    grid-column: 2 / 3;
    padding-right: 3rem;
}
.total form{
    padding: 3rem;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 2px 23px;
    border-radius: 8px;
}

.box-item{
    display: grid;
    grid-template-columns: 15em 5fr;
    margin-bottom: 2rem;
    margin-right: 3rem;
    max-width: 100%;
}
.box-item img{
    min-width: 15em;
    grid-column: 1 / 2;
}
.box-item .box-details div {
    display: grid;
    grid-template-columns: auto auto;
}
