h2 {
    font-size: 3em;
    margin-left: 3rem;
}

.cart_interface {
    margin-left: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.cart_interface .total{
    grid-column: 2 / 3;
    padding-right: 3rem;
}
.total div{
    padding: 3rem;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 2px 23px;
    border-radius: 8px;
}

.cart-item{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-right: 3rem;
    max-width: 50rem;
    flex-flow: flex-start;
    align-items: center;
}
.cart-item img{
    max-width: 15rem;
    flex-grow: 1;
}
.cart-details{
    width: 30rem;
    flex-grow: 3;
    flex-basis: 30rem;
}


#cart-total-price::after{
    content: "€";
}