@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --main: #1e90ff;
    --secondary: #cecece;
    --background-color: #FFFFFF;
    --grey: hsla(0, 0%, 74%, 0.287);
    --black: #000000;
    --white: #FFFFFF;
    --promotional: #cecece;
}



*, html{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
main{
    min-height: 80vh;
}


/* used when menu and login open - NOT yet able to stop scrolling on the rest of the page*/
.stop-behavior{
    filter: blur(3px) !important;
}
.visible{
    display: block !important;
}
.special{
    color: var(--main);
}

.unclickable{
    pointer-events: none;
}

.center{
    text-align: center;
}
.nolink{
    text-decoration: none;
    *{
        text-decoration: none;
    }
}

/**** PROMOTIONAL ****/
.promotional{
    padding: 0.4rem;
    background-color: var(--promotional);
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;
}





/**** HEADER ****/
body header{
    position: sticky;
    padding: 1.2rem 0; 
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
    align-items: center;
    z-index: 5;
}
.logo-img{
    max-height: 90px;
    max-width: 90%;
}
@media screen and (max-width: 600px) {
    header .svg-header{
        display: none;
    }
}
.svg-header img{
    width: 2rem;
    height: 2rem;
}

.elements-menu-header{
    padding: 3px;
    border-radius: 3px;
    &:hover{
        background-color: var(--grey);
        box-shadow: rgba(149, 157, 165, 0.1) 0px 2px 23px;
    
    }
}



/**MENU**/
.menu-header{
    padding: 8px;
    border-radius: 3px;
    text-underline-offset: 4px;
    &:hover{
        text-decoration: underline;
    }
}

.menu {
    position: fixed;
    padding: 2rem;
    top: 0;
    left: -400px;
    width: 250px;
    height: 100%;
    background-color: var(--background-color);
    color: var(--black);
    transition: left 0.3s ease;
    z-index: 1000;
    & > ul{
        padding-left: 0;
        list-style: none;
        padding: 15px 0;
    }
    & > ul li{
        padding: 5px 0;
    }
    & .logo-text{
        text-align: center;
    }
}

.menu.visible {
    left: 0;
}


/** LOGIN **/
.login-signup{
    position: fixed;
    background-color: #11111147;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 2px 23px;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    display: none;
    div{
        max-width: 15rem;
        margin: auto;
        margin-top: 15%;
        background-color: var(--background-color);
        padding: 3rem;
        border-radius: 10px;
        z-index: 15;
    }
}


/**** GENERAL ****/
.box{
    margin: 1rem 3rem;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 2px 23px;
    border-radius: 8px;
}

.container{
    padding: 5rem;
}



/**** BOX ITEM  ****/
.box-item img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 18rem;
    object-fit: cover;
}

.box-item .box-details{
    padding: 1rem;
}

.box-item a{
    text-decoration: none;
    color: var(--black);
}

.box-item{
    border-radius: 12px;
    width: 24rem;

    max-width: 90%;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 2px 23px;
}

.box-item:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 24px;
}


.box-item .box-details div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*** BUTTON ***/
/* by Sketch at GetCSSScan */
.button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.button[disabled]{
    &:hover, &:focus{
        background-color: red;
        transform: none;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    }
    background-color: ;
}



/*********** INDEX ***********/


.home-box{
    box-sizing: border-box;
    width: 100%;
    padding: 14vw 19vh;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 2px 23px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}




/**Shop by category **/

.category-list{
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-inline-start: 0;
    flex-wrap: wrap;
}

.category-list li{
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
}
.category-list li a{
  color: inherit;
  text-decoration: none; 
}




/****** ITEM PAGE ******/
.item-page{

    a{
        text-decoration: none;
    }

    & .item-page-photos{
        display: flex;
        max-width: 100vw;
        margin: 0 auto;
        overflow: auto;
        white-space: nowrap;
        -ms-overflow-style: none; 
        scrollbar-width: none;  
        &::-webkit-scrollbar {
            display: none;
        }

    }

    & .container > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .price-info{
        padding: 0.4rem;
        border-top: 2px solid var(--black);
        border-bottom: 2px solid var(--black);
        max-width: fit-content;
        font-size: 1.7rem;
    }

    .user-profile-pr{
        display: flex;
        align-items: center;
    }

    button{
        display: block;
        margin: 0.5rem;
    }

    & .item-page-photos img{
        max-height: 450px;
    }

    h1{
        font-size: 3rem;
    }

}



/**** LOGIN & REGISTER FORMS ****/

.account-form, .menu, .profile-form, .product-form, .category-form, .size-form, .condition-form, .newComment-form{
    & input, select, textarea, file, input::file-selector-button {
        display: block;
        box-sizing: border-box;
        width: 100%;
        max-width: 21rem;
        min-height: 28px;
        border-radius: 4px;
        padding: 5px 12px;
        margin: 1rem 0;
        border: 2px solid transparent;
        box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
        background: rgb(251, 251, 251);
        transition: all 0.1s ease 0s;
        :focus{
            border: 2px solid var(--grey);
        }
    
    }

    input::file-selector-button {
        cursor: pointer;
    }

    button[type='submit']{
        width: 100%;
        max-width: 21rem;
        margin: 1rem 0;
    }
}

.header-content{
    padding: 2rem 4rem;
    text-align: center;
}



/****** Items Catalogue *****/
#form-filter{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 3rem;
}

.price-input{
    display: flex;
    flex-wrap: wrap;
}

.price-input > div{
    margin-right: 2rem;
}

#submit-filter{
    max-width: 10rem;
}

/******* PRICE RANGE ******/
/*INSPIRED FROM https://www.geeksforgeeks.org/price-range-slider-with-min-max-input-using-html-css-and-javascript/
*/

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 
  
.slider-container { 
    width: 100%; 
} 
  
.slider-container { 
    height: 6px; 
    top: 10px;
    position: relative; 
    background: #e4e4e4; 
    border-radius: 5px; 
} 
  
.slider-container .price-slider { 
    height: 100%; 
    left: 0%; 
    right: 0%; 
    position: absolute; 
    border-radius: 5px; 
    background: #01940b; 
} 
  
.range-input { 
    position: relative; 
} 
  
.range-input input { 
    position: absolute; 
    width: 100%; 
    height: 5px; 
    background: none; 
    top: -5px; 
    pointer-events: none; 
    cursor: pointer; 
    appearance: none;
    -webkit-appearance: none; 
} 
  
/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb { 
    height: 18px; 
    width: 18px; 
    border-radius: 70%; 
    background: #555; 
    pointer-events: auto; 
    -webkit-appearance: none; 
}



/*** PRODUCTS **/
#products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px 30px;
}



/******* Admin Area (Manage Users) ******/
.manage-users {
    display: flex;
    flex-direction: column;
}

.manage-users .user {
    background-color: var(--grey);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 2em;
    border-radius: 2em;
}

.manage-users .manage-user-info{
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.manage-users .profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.manage-users .user-name,
.manage-users .user-email,
.manage-users .user-role {
    margin: 5px 0;
}

.manage-users .user-role{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.manage-users a {
    color: black;
    text-decoration: none;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 2px 23px;
    padding: 5px 10px;
    border-radius: 5px;
}

.manage-users a:hover {
    background-color: var(--grey);
} 




/****** PROFILE IMGS*****/
.profile-img{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

/***** User profile *****/
.profile-page{
    padding: 0 6rem;

    & .profile-top{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    & #profile_info{
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;
        align-items: center;
    }

    & #profile_image{
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
    }

    & .user-profile-info{
        display: grid;
        padding-left: 3rem;
        padding-right: 3rem;
        & #name{
            font-size: 3rem;
            padding-bottom: 20px;
        }
        & #username{
            color: rgb(136, 136, 136);
            font-size: 2rem;
            padding-bottom: 20px;
        }
        & #email{
            font-size: 1.2rem;
            padding-bottom: 2rem;
        }
    }

    & .admin-area-buttons{
        display: flex;
        flex-wrap: wrap;

        & .button {
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

}

/*** PRODUCT IMG FULL WIDTH ***/

.photo-display-large{
    position: fixed;
    width:100vw;
    height: 100vh;
    background-color: #ffffffb9;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
    top: 0px;
    left: 0px;

    & img{    
        max-width: 92vw;
        max-height: 92vh;
    }


}


/***** Chat *****/
.fromBuyer, .fromSeller{
    display: flex;
    align-items: center;

    & img{
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }
}

.fromBuyer img{
    margin-left: 3rem;
    margin-right: 0;
}

.fromSeller img{
    margin-left: 0;
    margin-right: 3rem;
}

.fromBuyer{
    flex-direction: row-reverse;
}

/* Speech bubbles inspired from https://codingislove.com/css-speech-bubbles/ */
.messageFromBuyer, .messageFromSeller{
    width: 70rem;
    margin: 20px auto;
    background: rgb(231, 229, 229);
    padding: 20px;
    font-weight: 650;
    color: var(--black);
    position: relative;
    border-radius: 1.5rem;

    & :before{
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        top: 3rem;
    }
}

.messageFromBuyer{
    margin-right: 0;

    & :before {
        border-left: 10px solid rgb(231, 229, 229);
        border-right: 10px solid transparent;
        border-top: 10px solid rgb(231, 229, 229);
        border-bottom: 10px solid transparent;
        right: -19px;
    }
}

.messageFromSeller{
    margin-left: 0;

    & :before {
        border-left: 10px solid transparent;
        border-right: 10px solid rgb(231, 229, 229);
        border-top: 10px solid rgb(231, 229, 229);
        border-bottom: 10px solid transparent;
        left: -19px;
    }
}

div .message-from{
    color: var(--main);
}

#newMessage {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    resize: none; 
    font-size: 16px;
    box-sizing: border-box; 
  }


/** List of chats **/
#chat{
    margin-bottom: 1rem;

    & a{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--black);
    
        & img{
            border-radius: 50%;
            width: 8rem;
            height: 8rem;
            margin-right: 3rem;
        }
    }
}


/*** Shopping Cart ***/
.cart_interface {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 3rem;

    & .total{
        /* flex-grow: 1; */
        margin-right: 4rem;
        margin-bottom: 1rem;

        & div{
            padding: 3rem;
            box-shadow: rgba(149, 157, 165, 0.1) 0px 2px 23px;
            border-radius: 8px;
        }

        &  #cart-total-price::after{
            content: '€';
        }
    }

    & .cart{
        flex-grow: 1;

        & .box-item{
            display: flex;
            width: 80rem;
            padding-right: 1rem;

            & img{
                width: 30rem;
            }
        }
    }

    & .box-details{
        flex-grow: 1;
        width: 350%;
        align-self: center;
        overflow: hidden;   
    }

    & .box-item{
        margin-bottom: 1rem;
    }
}


/** FOOTER **/
html footer{
    background-color: var(--main);
    color: var(--white);
    padding: 0.5rem;
    text-align: center;
}